<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PROD_DATABASE" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=test;User Id=x309;Password=abcd;" providerName="System.Data.SqlClient" />
    <add name="TEST_DATABASE" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=test;User Id=x309;Password=abcd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>